.fullscreen-dialog {
    max-width: 100% !important;
  }

.mat-form-field {
    width: 100%;
}

.mat-card-image{
    width: 150px;
    height: 150px;
}

.example-card{
    width: 150PX;
    height: 150px;
}

.mat-dialog-actions{
    margin-top: 10px;
}